# Pandas

In [10]:
import numpy as np

In [11]:
import pandas as pd

In [12]:
labels = ['a','b','c']

In [13]:
data = [1,2,3]

In [14]:
a = np.array(data)

In [15]:
d = {'a':1,'b':2,'c':3}

In [16]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [17]:
pd.Series(data = data)

0    1
1    2
2    3
dtype: int64

In [19]:
pd.Series(data = data, index = labels)

a    1
b    2
c    3
dtype: int64

In [24]:
pd.Series(data, labels)

a    1
b    2
c    3
dtype: int64

In [31]:
pd.Series(data = [sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [34]:
series1 = pd.Series(data = [1, 2, 3, 4], index=["David", 'John', "Aasha", "Victor"])

In [35]:
series1

David     1
John      2
Aasha     3
Victor    4
dtype: int64

In [42]:
series2 = pd.Series(data = [1, 2, 5, 6], index=["David", 'John', "Roger", "Natasha"])

In [43]:
series2

David      1
John       2
Roger      5
Natasha    6
dtype: int64

In [44]:
series1["Aasha"]

3

In [45]:
series2["Roger"]

5

In [46]:
series1 + series2

Aasha      NaN
David      2.0
John       4.0
Natasha    NaN
Roger      NaN
Victor     NaN
dtype: float64